.carousel-item {
  width: 100%;
  height: 80vh;
  /* color: #333; */
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img3 {
  background-image: url(wallpaperflare.com_wallpaper.jpg);
}
.carousel-item:first-child {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(469029.jpg);
}
.carousel-item:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(1314154.jpg);
}

.footer {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  transform: translate(0, 250%);
}
.footer a {
  cursor: pointer;
}
.tos {
  text-decoration: none;
}
